.achievments {
  margin: 38px 0 0 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: 660px) {
    margin-top: 12px;
    padding-left: 37px;
  }

  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: 313px 296px 253px;
    grid-template-rows: repeat(2, 40px);
    grid-auto-flow: column;
    // grid-auto-rows: auto;
    // grid-auto-columns: auto;
    grid-row-gap: 42px;
    width: 820px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }
}

.achievments__item {
  display: flex;

  &:not(:first-child) {
    margin-top: 43px;

    @media (min-width: 1200px) {
      margin-top: 0;
    }
  }
}

.achievments__label {
  display: flex;
  align-items: center;

  &::before {
    display: inline-block;
    content: "";
    width: 39px;
    height: 39px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    margin-right: 20px;
  }
}

.achievments__input {
  &:checked + .achievments__label::before {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='22' height='16' viewBox='0 0 22 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.7001 0.284331C21.5105 0.102082 21.2557 0 20.9903 0C20.7249 0 20.47 0.102082 20.2805 0.284331L6.70324 13.6028L1.73472 8.72901C1.64045 8.63578 1.52831 8.56178 1.40474 8.51128C1.28118 8.46079 1.14865 8.43479 1.01479 8.43479C0.88093 8.43479 0.748397 8.46079 0.624833 8.51128C0.50127 8.56178 0.389122 8.63578 0.294859 8.72901C0.106004 8.91537 0 9.16747 0 9.43024C0 9.69302 0.106004 9.94512 0.294859 10.1315L5.98331 15.7115C6.07806 15.8037 6.19042 15.8767 6.31396 15.9262C6.4375 15.9756 6.56979 16.0007 6.70324 16C6.96925 15.9989 7.22416 15.8953 7.41303 15.7115L21.7001 1.69675C21.7951 1.60428 21.8705 1.49427 21.922 1.37306C21.9735 1.25186 22 1.12185 22 0.990541C22 0.859234 21.9735 0.729226 21.922 0.608017C21.8705 0.486809 21.7951 0.376798 21.7001 0.284331Z' fill='%23D22856'/%3E%3C/svg%3E%0A");
  }
}
