.advantages {
  position: relative;
  z-index: 1;
  padding: 78px 0 318px;
  overflow: hidden;
  background-color: #f2f2f2;

  &::before {
    position: absolute;
    bottom: 99%;
    left: -40px;
    z-index: -2;
    transform: rotate(175deg);
    display: block;
    height: 425px;
    width: 200%;
    content: "";
    background-color: #ffffff;

    @media (min-width: 660px) {
      bottom: 100%;
    }

    @media (min-width: 1200px) {
      bottom: 96%;
    }
  }

  &::after {
    position: absolute;
    top: 0;
    z-index: -1;
    display: block;
    height: 100%;
    width: 100%;
    content: "";
    background: url("../img/advantages/advantages-mobile.png") right 50% bottom -43px no-repeat;

    @media (min-width: 660px) {
      background: url("../img/advantages/advantages-tablet.png") left 20px bottom -65px no-repeat;
    }

    @media (min-width: 770px) {
      background: url("../img/advantages/advantages-tablet.png") left 22% bottom -65px no-repeat;
    }


    @media (min-width: 1200px) {
      background: url("../img/advantages/advantages-desktop.png") right 50% top 5px no-repeat;
    }
  }

  @media (min-width: 660px) {
    padding-top: 71px;
    padding-bottom: 42px;
  }

  @media (min-width: 660px) {
    padding-top: 71px;
    padding-bottom: 42px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: 660px) {
    width: 310px;
    margin: 0 0 0 auto;
  }

  @media (min-width: 1200px) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }
}

.advantages__item {
  text-align: center;

  &:not(:first-child) {
    margin-top: 31px;

    @media (min-width: 660px) {
      margin-top: 34px;
    }

    @media (min-width: 1200px) {
      margin-top: 0;
    }
  }

  @media (min-width: 660px) {
    text-align: left;
  }

  @media (min-width: 1200px) {
    width: 240px;
    text-align: center;
    padding-top: 307px;
  }
}

.advantages__heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  @media (min-width: 1200px) {
    font-size: 30px;
    line-height: 30px;
  }
}

.advantages__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin: 12px 0 0 0;

  @media (min-width: 1200px) {
    font-size: 18px;
    line-height: 30px;
    margin-top: 22px;
  }
}
