.container {
  overflow: hidden;

  &--inside {
    overflow: visible;
    width: 100%;
    max-width: 320px;
    padding: 0 20px;
    margin: 0 auto;

    @media (min-width: 660px) {
      max-width: 660px;
      padding: 0 20px;
    }

    @media (min-width: 1200px) {
      max-width: 1200px;
      padding: 0 130px;
    }
  }
}
