.download {
  color: #ffffff;
  background: #1d2631;
}

.download__inner {
  padding-top: 28px;
  padding-bottom: 31px;
}

.download__main-link {
  display: block;
  height: 55px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 29px;
  padding: 15px 35px;
}

.download__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.download__link {
  &:not(:first-child) {
    margin-left: 35px;
  }
}

.download__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-top: 15px;
}
