.final-button {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background: #2aab6d;
  border-radius: 3px;
  width: 100%;
  max-width: 278px;
  padding: 17px 0;
  margin: 0 auto;
  border: none;
}
