.form-input {
  display: flex;
  flex-direction: column;
  width: 100%;

  &:not(:first-child) {
    margin-top: 16px;
  }
}

.form-input__field {
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  padding: 15px 20px;
  width: 100%;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: inherit;
  margin-top: 5px;

  &--textarea {
    margin-top: 15px;
    max-height: 201px;
  }
}
