.label {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #d22856;
  margin-left: 23px;

  &--choice {
    text-align: center;
    max-width: 218px;
    margin: 0 auto;
    line-height: 18px;
  }

  &:not(:first-child) {
    margin-top: 17px;
  }
}
