.section-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0;

  &--ad-headline {
    margin-top: 29px;

    @media (min-width: 660px) {
      font-size: 40px;
      line-height: 54px;
      margin-top: 7px;
    }

    @media (min-width: 1200px) {
      font-size: 50px;
      line-height: 68px;
      margin-top: 21px;
    }
  }

  &--ad-subline {
    @media (min-width: 660px) {
      max-width: 400px;
      margin: 0 auto;
      font-size: 40px;
      line-height: 54px;
    }

    @media (min-width: 1200px) {
      font-size: 50px;
      line-height: 68px;
      max-width: 420px;
    }
  }

  &--contacts {
    @media (min-width: 660px) {
      font-size: 40px;
      line-height: 54px;
      margin: 4px auto 0;
    }

    @media (min-width: 1200px) {
      font-size: 50px;
      line-height: 68px;
    }
  }
}
