.sub-intro {
  background: #1d384b url("../img/sub-intro.png") cover no-repeat;
  padding: 95px 0 43px;
  min-height: 237px;
  text-align: center;
}

.sub-intro__slogan {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
}
