.tariffs {
  position: relative;
  padding: 96px 0 45px;

  @media (min-width: 660px) {
    padding-top: 92px;
    padding-bottom: 67px;
  }

  @media (min-width: 1200px) {
    padding-top: 165px;
    padding-bottom: 67px;
  }

  &::before {
    position: absolute;
    bottom: 99%;
    left: -40px;
    z-index: -1;
    transform: rotate(176deg);
    display: block;
    height: 425px;
    width: 200%;
    content: "";
    background-color: #ffffff;

    @media (min-width: 660px) {
      bottom: 100%;
    }

    @media (min-width: 660px) {
      transform: rotate(174deg);
    }
  }

  &::after {
    position: absolute;
    top: 0;
    z-index: -2;
    display: block;
    height: 100%;
    width: 100%;
    content: "";
    background-color: #f2f2f2;
  }
}

.tariffs__grid {
  position: relative;
  left: -277px;
  display: flex;
  align-items: flex-end;

  @media (min-width: 660px) {
    left: 0;
  }
}

.tariffs__advantages {
  display: grid;
  grid-template-columns: repeat(3, 277px);
  grid-template-rows: 1fr;
  border: 1px solid #e5e5e5;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: 660px) {
    grid-template-columns: repeat(3, 156px);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 237px);
  }
}

.tariffs__options {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  background-color: #ffffff;

  @media (min-width: 660px) {
    display: grid;
    grid-template-columns: 153px;
    grid-template-rows: repeat(3, 46px);
  }

  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: 232px;
    grid-template-rows: repeat(3, 61px);
    font-size: 18px;
  }
}

.tariffs__option {
  display: flex;
  align-items: center;
  border: 1px solid #e5e5e5;
  padding-left: 15px;

  @media (min-width: 1200px) {
    padding-left: 20px;
    padding-bottom: 4px;
  }
}
